<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.typekit.net/oaa8vzq.css">
</head>
<body>
    <header>
      <a href="/"></a>
      <img src="/css/assets/time-tracker-logo.png" alt="time tracker logo" width="30%">
        </a>
      <nav>
        {{#if logged_in}}
        <button id="logout">logout</button>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>