<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Production Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
  <header>
    {{!-- <a href="/">
      <img src="/css/assets/time-tracker-logo.png" alt="time tracker logo" width="30%">
    </a> --}}
    {{#if logged_in}}
    <nav>
      <a href="/">
        <img src="/css/assets/time-tracker-icon.png" alt="time tracker logo" width="5%">
      </a>
      {{!--{{#if logged_in}}
      <button id="logout">logout</button>
      {{/if}}--}}
      <ul>
        {{#if isManager}}
        <li><a href='/register'>CREATE EMPLOYEE</a></li>
        <li><a href='/createproduct'>CREATE A PRODUCT</a></li>
        <li><a href='/data'>DASHBOARD</a></li>
        {{/if}}
        {{#if logged_in}}
        <li><button id="logout">LOGOUT</button></li>
        {{/if}}
      </ul>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
  </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src='./js/time.js'></script>
</body>

</html>