<a href="/">
  <img src="/css/assets/time-tracker-logo.png" alt="time tracker logo" width="30%">
</a>

<div class='login-card'>
  <h2 class='page-title'>LOGIN</h2>
  <form class='form login-form'>
    <div class='form-group'>
      <label for='email-login'>Email:</label>
      <input class='form-input' type='text' id='email-login' />
    </div>
    <div class='form-group'>
      <label for='password-login'>Password:</label>
      <input class='form-input' type='password' id='password-login' />
    </div>
    <div class='form-group'>
      <button type='submit'>LOGIN</button>
    </div>
  </form>
</div>


<script src='./js/login.js'></script>