<h2 class='page-title'>REGISTER NEW</h2>
  <form class='form signup-form'>
    <div class='form-group'>
      <label for='name-signup'>Username:</label>
      <input class='form-input' type='text' id='name-signup' />
    </div>
    <div class='form-group'>
      <label for='email-signup'>Email:</label>
      <input class='form-input' type='text' id='email-signup' />
    </div>
    <div class='form-group'>
      <label for='password-signup'>Password:</label>
      <input class='form-input' type='password' id='password-signup' />
    </div>
    <div class='form-group'>
      <label for='role-signup'>Role:</label>
      <select class='form-input' id='role-signup'>
        <option value='manager'>Manager</option>
        <option value='employee'>Employee</option>
      </select>
    </div>
    <div class='form-group'>
      <button class='btn btn-primary' type='submit'>CREATE</button>
    </div>
  </form>
</div>

<script src='./js/register.js'></script>